<section class="header">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
      <img src="../../assets/images/Logo.png" alt="logo">
    </a>
    <ul class="nav-right">
      <li routerLink="">
        <a>home </a>
      </li>
      <li routerLink="/student-requested-courses">
        <a> | student requested course</a>
      </li>
      <li routerLink="/profile">
        <a>
          <img src="../../assets/images/profile.png" alt="profile">
        </a>
    </li>
    </ul>
  </nav>
</section>



