
.header {
  nav {
    background-color: #1e1e1e !important;
    .nav-right {
      font-size: 18px;
      display: flex;
      align-items: flex-end;
      text-transform: capitalize;
      margin: 0;
      padding: 0;

      li {
        margin-right: 5px;
        list-style: none;
        cursor: pointer;
      }
      li:nth-child(1) {
        color: #366635;
      }
      li:nth-child(2) {
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    nav {
      .nav-right {
        font-size: 12px;
        align-items: center !important;
      }
    }
  }
}

// generic
a {
  cursor: pointer;
  text-decoration: none;
}
