<section class="second-header">
  <section class="background">
    <img src="../../../assets/images/secondary-header-logo.png" alt="" style="    width: 100%; height: 100%;">
  </section>
  <div class="overlay">
    <div class="text">
      <div class="row">
        <div class="heading col-sm-5">
          <h3 class="learn-more">learn online</h3>
        </div>
      </div>
      <div class="row">
        <div class="caption col-sm-6">
          <p class="study-topic">Study any topic, anytime. Explore thousands of courses starting at $11.99 each</p>
        </div>
      </div>
    </div>
  </div>

</section>
